package shared

templ footer(name string) {
	<hr class="border-steel-gray-300"/>
	<footer class="md:flex py-4 container mx-auto px-4">
		<div class="md:w-1/3 flex-1">
			<a href="/">
				<span class="text-2xl">{ name }</span>
				<p>A Hub for Repeated Musings and Rough-Cut Tech Tutorials   </p>
			</a>
		</div>
		<hr class="md:invisible my-4 border-steel-gray-400"/>
		<div class="md:w-1/3 flex-initial">
			<a href="https://x.com/Kirboyyy">𝕏</a>
			<br/>
			<a href="https://github.com/Kirboyyy">GitHub</a>
			<br/>
			<a href="https://instagram.com/uukirbyy">Instagram</a>
			<br/>
			<a href="https://www.linkedin.com/in/david-caudill-dev/">Linkedin</a>
			<br/>
		</div>
	</footer>
}
