package shared

templ navbar(name string) {
	<nav class="bg-primary border-border dark:bg-background">
		<div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
			<a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
				<img src="https://flowbite.com/docs/images/logo.svg" class="h-8" alt={ name + " Logo" }/>
				<span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-text">{ name }</span>
			</a>
		</div>
	</nav>
}
