package blog

import "blog/model"

templ Author(author model.Author){
    <div class="text-left">
        <span class="text-xl">{author.Name}</span>
        <img src={author.ImageURL} alt="Author Image" class="rounded-full h-24"/>
        for _, social := range author.Socials {
            <a target="_blank" href={templ.URL(social.URL)}>{social.Name}</a>
        }
    </div>
}